<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SerialPort" value="3"/>
		<add key="Esp8266Ip" value="192.168.0.138"/>
		<add key="Esp8266Port" value="3000"/>
		<add key="LVP-WPF-Path" value="%USERPROFILE%\Documents\apps\LVP-WPF\"/>
		<add key="Opacity" value="150"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>