<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Remote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Remote.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IpAddr" serializeAs="String">
                <value>192.168.0.126</value>
            </setting>
            <setting name="MacAddr" serializeAs="String">
                <value>00C3F470CAAD</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>LVP-Remote</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8002</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </Remote.Properties.Settings>
    </userSettings>
</configuration>