<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="CartoonLimit" value="20"/>
		<add key="ComPort" value="4"/>
		<add key="ComPortEnabled" value="false"/>
		<add key="Drives" value="D"/>
		<add key="EspIp" value="192.168.0.138"/>
		<add key="TvExceptionIds" value="1960;7842;102321;652;31841;2291"/>
		<add key="CartoonExceptions" value="Family Guy;The Simpsons;Futurama;The Boondocks;American Dad!"/>
	</appSettings>
</configuration>