<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="CartoonExceptions" value="Family Guy;The Simpsons;Futurama;The Boondocks;American Dad!"/>
		<add key="CartoonLimit" value="int"/>
		<add key="Drives" value="string"/>
		<add key="Esp8266Ip" value="192.168.0.138"/>
		<add key="Esp8226Enabled" value="bool"/>
		<add key="Esp8226HideCursor" value="bool"/>
		<add key="LoggingEnabled" value="bool"/>
		<add key="LogPath" value="%USERPROFILE%\Documents\apps\"/>
		<add key="MouseHubPath" value="%USERPROFILE%\Documents\apps\MouseHub\"/>
		<add key="SerialPort" value="int"/>
		<add key="SerialPortEnabled" value="bool"/>
	</appSettings>
</configuration>